html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

#Navbar ul li,
a {
    margin-left: 2px;
    display: inline-flex;
    font-weight: bolder;
    list-style: none;
    color: rgb(187, 161, 12);
    text-decoration: none;
    text-align: center;
    padding: 3px 2px 3px 2px;
}

.notes li {
    list-style: none;
    display: inline-block;
    width: 330px;
    height: 200px;
    margin: 5px;
    background-color: rgb(233, 78, 22);
    color: white;
    padding: 15px;
    font-size: 20px;
    border-radius: 30px 0px 30px 0px;
}

main {
    text-align: center;
    background-color: rgb(165, 162, 162);
}

.notes li h3 {
    text-decoration: underline black;
    padding-bottom: 35px;
}

.titles {
    color: rgb(238, 75, 16);
    font-size: x-large;
    text-decoration: underline overline black;
}

.poster {
    justify-items: center;
    text-align: center;
    display: inline-block;
    background-color: rgb(216, 212, 212);
    border-radius: 30px 0px 30px 0px;
    margin: 8px;
}

.poster img {
    width: 260px;
    padding: 10px;
    border-radius: 30px 0px 30px 0px;

}

.poster h2 {
    color: orangered;
}

#services ul li {
    display: inline-block;
    list-style: none;
    background-color: rgb(177, 172, 172);
    border-radius: 30px;
    margin: 8px;
}

.cb {
    width: 260px;
    padding: 10px;
    border-radius: 30px;
}

.ac{
    text-align: left;
    font-size: large;
    border-radius: 80px 0px 80px 0px;
    margin: 0px 8px 0px 8px;
    background-color: rgb(241, 78, 19);
    color: white;
    padding: 24px 5px 0px 17px;
}